<header>
  <div class="container">
    <div class="logo">
      <a href="/"><img src="images/logo.png" alt="logo" /></a>
      <a href="/"><h2>Weather<span>2</span>u.com</h2></a>
    </div>
    <ul class="links">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/help">Help</a></li>
    </ul>
    <i class="fas fa-bars fa-2x bars"></i>
  </div>
</header>